#container {
  margin-top: 5rem;
  font-family: 'Mali', cursive; }

body, html {
  overflow-x: hidden; }

body {
  font-family: 'Mali', cursive;
  text-align: center; }

a {
  text-decoration: none;
  color: inherit;
  font-family: 'Mali', cursive; }
  margin margin-right: 5px;

.bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4, .bgimg-5 {
  position: relative;
  background-attachment: fixed;
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  height: 650px; }

.bgimg-1 {
  background-image: url("https://images.unsplash.com/photo-1511688878353-3a2f5be94cd7?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=63b44aa6975ca58af1bc9d7edff5981d&w=1000&q=80"); 
  height:1300px;
}

.bgimg-2 {
  background-image: url("https://www.incimages.com/uploaded_files/image/970x450/getty_855098134_353411.jpg"); }

.bgimg-3 {
  background-image: url("https://www.ocf.berkeley.edu/~sather/wp-content/uploads/2018/01/food--1200x600.jpg"); }

.bgimg-4 {
  background-image: url("http://grandtheatrecompany.com/wp-content/uploads/2016/05/img_3.jpg"); }

.bgimg-5 {
  background-image: url("https://img.vimbly.com/images//full_photos/cooking-1.jpg"); 
}

#buttons {
  font-family: 'Mali', cursive;
  text-align: center;
  font-size:60px; }

.app-header {
  display: block;
  padding: 30px;
  width: 1000px;
  height: 200px;
}
.app-title {
  display: inline-block;
  width: 100%;
  margin: 80px 0 0 0;
  float: left;
  position: relative;
  color: #fff;
  height: 200px;
}
@media (min-width: 768px) {
  .app-title {
    width: 20%;
    margin: 280px 0 0 0; } }

.app-title-content {
  position: relative;
  top: 50%;
  left: 50%;
  width: 100%;
  text-align: center;
  transform: translate(-50%, -50%); }

@media (min-width: 768px) {
  .app-title-content {
    width: auto;
    position: absolute;

    text-align: left; } }

.app-card-list {
  display: inline-block;
  width: 100%;
  float: right;
  margin: 0;
  min-height: 75vh;
  white-space: normal;
  overflow-x: scroll;
  margin-top: -70px; }

.app-card-list::-webkit-scrollbar {
  display: none; }

@media (min-width: 768px) {
  .app-card-list {
    width: 80%;
    white-space: nowrap;
    margin-top: 0; } }


.card {
    display: block;
    margin: 60px auto;
    height:3;
  }

  .card-header {
    height: 400px;
    width: 40%;
margin-left: 390px;
   background-size:auto;
    color:#fff;
  }

.card-body {
  white-space: normal;
 }

.designer-link {
  display: inline-block;
  padding-top: 40px;
}

#questionPaper {
  background-color: #cccccc;
  color: #ffffff; }

#cameraPaper1 {
  padding-top: 5%;
  padding-bottom: 5%;
  margin-left: 35%;
  margin-right: 35%; }

#cameraPaper2 {
  padding-top: 2%;
  padding-bottom: 2%;
  margin-left: 35%;
  margin-right: 35%; }

#loginPaper {
  padding-top: 2%;
  padding-bottom: 2%;
  margin-left: 35%;
  margin-right: 35%;
  background-color: #b2ebf2; }

#signupPaper {
  padding-top: 2%;
  padding-bottom: 2%;
  margin-left: 35%;
  margin-right: 35%;
  background-color: #b2ebf2; }

#whoWeAre {
  font-family: 'Mali', cursive;
  margin-left: 5%;
  margin-right: 5%; }

#GeneralPaper, #Paper2, #Paper3, #HeadingPaper {
  padding-top: 4%;
  padding-bottom: 4%;
  opacity: 0.82;
  font-weight: bold;
  color: #006400;
  font-size: 20px; }

#HeadingPaper{
  background-color: #FFFFFF;
  text-align:center;
}

#GeneralPaper {
  margin-left: 10%;
  margin-right: 40%;
  background-color: #FFFFFF; }

#Paper2 {
  margin-left: 40%;
  margin-right: 10%;
  background-color: #FFFFFF; }

#Paper3 {
  margin-left: 10%;
  margin-right: 40%;
  background-color: #FFFFFF; }

#words {
  font-weight: bold;
  font-size: 25px;
  margin: 0; }

  #blogButtons {
    margin-top: auto;
    border: 3px solid black;

  }
